@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-950 text-slate-300 antialiased;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
}